<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoVaccinate.now</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/theme_custom.css" rel="stylesheet" />
    <link href="~/syringe-line.svg" rel="shortcut icon" type="image/svg" />
    <script src="https://kit.fontawesome.com/fac24e338d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-white mb-4 pt-3 fixed-top">
           
            <div class="container-fluid">

                <a class="navbar-brand float-end" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="ri-syringe-line nav_logo-icon"></i> CoVaccinate.Now
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ri-function-line navbar__toggler__icon"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <partial name="_AdminMenuPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container py-5">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-5">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Discover</h5>
                    <p>
                        A faster and more efficienct way of scheduling your vaccination appointment without hassle
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="links col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

                    <ul class="qlinks list-unstyled">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#!">Services</a>
                        </li>
                        <li>
                            <a href="#!">Covid-19 Awareness</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="links col-md-3 mx-auto text-md-left">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Info</h5>

                    <ul class="contact-links list-unstyled">
                        <li>
                            <p> <i class="fas fa-phone"></i>011-123-4555 </p>
                        </li>
                        <li>
                            <p> <i class="fas fa-envelope"></i>example@email.com </p>
                        </li>
                        <li>
                            <p> <i class="fas fa-map-marker-alt"></i>Colombo, Sri Lanka </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <span>© 2020 Copyright:  </span> CoVaccinate.Now
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>