@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "403";
}

<header class="mt-5 my-3 container-fluid main_header">
    <h1 class="my-2 main_h1">@ViewData["Title"]</h1>
    <h2 class="my-2 mt-2 main_h2">Access Denied</h2>
    <p class="my-2 mt-2 main_p">You do not have access to this resource.</p>
    <img class="pt-2 main_img" src="~/Resources/403 Error Forbidden-pana.svg">

</header>
