@model CoVaccinate.now.Models.AgeGroup

@{
    ViewData["Title"] = "Details";
}

<h1 class="py-3 main__heading">Details</h1>

<div>
    <h4 class="subheading">AgeGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedAgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedAgeGroup)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AgeGroupId" class="btn btn-success">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
