@model CoVaccinate.now.Models.Quota

@{
    ViewData["Title"] = "Create";
}

<h1 class="py-3 main__heading">Create</h1>

<h4 class="subheading">Quota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VaccineCentreId" class="control-label"></label>
                <select asp-for="VaccineCentreId" class ="form-control" asp-items="ViewBag.VaccineCentreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OpenDays" class="control-label"></label>
                <input asp-for="OpenDays" class="form-control" />
                <span asp-validation-for="OpenDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenHours" class="control-label"></label>
                <input asp-for="OpenHours" class="form-control" />
                <span asp-validation-for="OpenHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

